[database]
servername = localhost

root_db_user = root
root_db_password = {{ root_db_password }}

resume_db_name = joe
resume_db_user = resume
resume_db_password = {{ resume_db_password }}

pizza_db_name = pizza
pizza_db_user = pizza
pizza_db_password = {{ pizza_db_password }}


